body {
	font-family: Arial, Helvetica, sans-serif !important; 
    color: #555555 !important; 
	margin: 0 !important;
	padding: 0 !important;
    background-color: rgb(216, 216, 203) !important;
}

h1 {
	font-weight: bold !important;
	color: rgb(255, 255, 255) !important; 
    margin : 2rem !important;
    font-size: 4rem !important;
}

.navbar {
	background-color: transparent !important; 
}

.navbar-brand {
    color: royalblue !important; 
    font-weight: 1000 !important;
    font-size: 3rem !important;
}

.navbar-brand:hover {
    color: rgb(255, 255, 255) !important; /* Farbe beim Hover */
}

.nav-link.active {
    color: royalblue !important; /* Farbe für den aktiven Link */
    font-weight: bold !important; /* Optional: Fettgedruckt */
    font-size: larger !important;
    padding-top: 25px !important;
}
  
.nav-link:hover {
    color: rgb(255, 255, 255) !important; /* Farbe beim Hover */
}

.nav-link:focus {
    color: #0008ff !important; /* Farbe beim Focus */
}

/* Sessions */

/* Startseite */

/* Zurück-Button */
.btn-secondary {
    color: rgb(255, 255, 255) !important;
    background-color: #555555 !important;
    font-weight: bolder !important;
    border: transparent !important;
    border-radius: 15px !important;
    width: 140px !important;
    height: 44px !important;
    font-size: 22px !important;
    font-display: center !important;
    margin-bottom: 1.5rem !important;
}

/* Hover-Effekt für Zurück-Button */
.btn-secondary:hover {
    background-color: rgb(255, 255, 255) !important;
    color: #555555 !important;
}

.btn-primary {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(65, 105, 225) !important;
    font-weight: bolder !important;
    border: transparent !important;
    border-radius: 15px !important;
    width: 140px !important;
    height: 44px !important;
    font-size: 22px !important;
    font-display: center !important;
    margin-bottom: 1.5rem !important;
}

.btn-primary:hover {
    color: royalblue !important;
    background-color: rgb(255, 255, 255) !important;
}

.btn-danger {
    color: rgba(255, 255, 255, 0.603) !important;
    background-color: rgba(65, 105, 225, 0.227) !important;
    font-weight: bolder !important;
    border: rgba(65, 105, 225, 0.277) !important;
    border-radius: 15px !important;
    width: 140px !important;
    height: 44px !important;
    margin-top: 1rem !important;
    font-size: 23px !important;
    font-display: center !important;
    margin-bottom: 1.5rem !important;
}

.btn-danger:hover {
    color: rgb(255, 0, 0) !important;
    background-color: rgba(255, 0, 0, 0.267) !important;
}

.cardius {
    border: 2px solid #ccc !important;
    padding: 1rem !important;
    margin-bottom: 2rem !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.titel a {
    font-size: 35px !important;
    font-weight: bold !important;
    margin-bottom: 0.5rem !important;
}

.leccard {
    font-size: larger !important;
    font-weight: bold !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
    size: 100% !important;
    background-color: rgba(65, 105, 225, 0.187) !important;
    border: transparent !important;
    border-radius: 20px !important;
}

.card {
    font-size: larger !important;
    font-weight: bold !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
    size: 100% !important;
    background-color: transparent !important;
    border: transparent !important;
}

.sagen {
    font-size: 25px !important;
    font-weight: bold !important;
    size: 100% !important;
    background-color: transparent !important;
    border: transparent !important;
}

.form-label {
    font-weight: bold !important;
    font-size: 25px !important;
}

.form-control {
    color: royalblue !important;
    font-weight: bolder !important;
}

.form-select {
    color: royalblue !important;
    font-weight: bolder !important;
}

.btn-primary {
    background-color: rgb(75, 131, 99) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bolder !important;
    margin-top: 1rem !important;
    border: transparent !important;
    border-radius: 15px !important;
    font-size: larger !important;
    height: 44px !important;
    width: 120px !important;
    bottom: 20% !important;
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(75, 131, 99) !important;
}

.form {
    color: royalblue !important;
    font-weight: bolder !important;
}

.cardius .beschrieb {
    font-size: 25px !important;
    font-weight: bold !important;
    padding: 1rem !important;
    size: 100% !important;
    border: transparent !important;
    border-radius: 20px !important;
    margin: 1rem !important;
}

