/* Globale Stile */
body {
	font-family: Arial, Helvetica, sans-serif !important; /* Schriftart */
    color: royalblue !important; /* Dunkles Blau für den Text */
	margin: 0 !important;
	padding: 0 !important;
    background-color: beige !important;
}

h1 {
	font-weight: bold !important;
	color: rgb(255, 142, 97) !important; /* Dunkleres Blau für Überschriften */
}

h2, h3, h4 {
    color: rgb(31, 76, 159) !important; /* Dunkles Blau für Überschriften */
}


/* Bootstrap-Überschreibungen */
.navbar {
	background-color: transparent !important; /* Helle Blautöne für die Navbar */
}

.navbar-brand {
    color: royalblue !important; /* Dunkelblauer Text für die Navbar-Brand */
    font-weight: 1000 !important;
    font-size: 3rem !important;
}

.navbar-brand:hover {
    color: salmon !important; /* Farbe beim Hover */
}

.nav-link.active {
    color: royalblue !important; /* Farbe für den aktiven Link */
    font-weight: bold !important; /* Optional: Fettgedruckt */
    font-size: larger !important;
    padding-top: 25px !important;
  }
  
  .nav-link:hover {
    color: salmon !important; /* Farbe beim Hover */
  }

  .nav-link:focus {
    color: #0008ff !important; /* Farbe beim Focus */
  }
  

/* Sessions */

.form{
    color: rgb(31, 76, 159) !important; /* Dunkles Blau für den Text */
}


/* Startseite */

h1 {
    font-size: 3rem !important;
    text-align: center !important;
    margin-top: 10% !important;
}
